header{
    background: #2b2b2b;
    color: #29ff0e;
    padding: 20px 20px 0 20px

}
body{
    margin: 0;
    background: #808080;
}
header h1{
    margin: 10px;
    padding: 40px;
    display: inline;
}
nav ul{
    margin: 0;
    display: inline;
    padding: 0 0 0 10px;
}
nav ul li{
    background: #404040;
    display: inline-block;
    list-style-type: none;
    padding: 5px 15px

}
nav ul li a{
    color: #29ff0e;
}

div.row{

}
div.col{
    float: left;
    margin: 3%;
    width: 44%
}
div.tv{
    float: left;
    padding:0 0 0 2%;
    width: 46%
}
